.error-msg {
    color: red;
    padding-left: 10px;
}

.am-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 60px;
}

.fixed-header, .am-navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.page-content {
    padding: 45px 5px;
}

#chat-page {
    margin-top: 45px;
}

.am-list {
    margin-bottom: 5px;
}
.am-navbar {
    position: fixed;
    top: 0;
    z-index: 1;
}

#chat-page .chat-me .am-list-extra {
    flex-basis: auto
}

#chat-page .chat-me .am-list-content {
    padding-right: 15px;
    text-align: right;
}

.stick-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}